{
	"root": true,
	"parser": "@babel/eslint-parser",
	"extends": "@react-native-community",
	"parserOptions": {
		"ecmaVersion": 8,
		"requireConfigFile": false,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"semi": "off"
	}
}
