{
	"singleQuote": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"semi": false,
	"printWidth": 100,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"endOfLine": "auto"
}